h1{
  text-align: center;
}
ul{
  list-style: none;
  margin: 10px;
  padding: 0;
}
ul li{
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.col{
  margin-bottom: 15px;
}

ul li div img{
  height: 127px;
}
ul li label{
  display: block;
  text-transform: capitalize;
  margin: 4px;
}
ul li label b{
  padding-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
