h1{
  text-align: center;
}
ul{
  list-style: none;
  padding: 0;
}
ul li{
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
}
.col{
  margin-bottom: 15px;
}

ul li div img{
  height: 127px;
}
ul li label{
  display: block;
  text-transform: capitalize;
}
ul li label b{
  padding-left: 10px;
}